* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
@media(max-width:768px){
  body{
    background-color: darkgray;
  }
  .headerDisco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  ul li a{
    font-size: 30px;
  }
}
@media(max-width:576px){
  body{
    background-color: darkgray;
  }
  ul li a{
    font-size: 25px;
  }
  .headerDisco{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logoRaton {
  width: 255px;
  height: 205px;
}
.tituloDisco{
  text-align: left;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 56px;
    margin-right: 39px;
    color: yellow;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: yellow;
}
h3 {
  color: yellow;
  text-align: center;
  font-size: 45px;
  padding: 30px;
}
h4 {
  text-align: center;
  color: yellow;
}
.menuIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: black;
  font-size: 40px;
  list-style: none;
}
.menuIndex:hover{
  font-size: 52px;
}
ul li a {
  color: darkorange;
  text-decoration: none;
}
ul li{
  text-decoration: none;
}
.imagenIndex {
  width: 575px;
  height: 600px;
  display: flex;
  margin: auto;
}
.parrafos {
  text-align: center;
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
  color: yellow;
}
/**.parrafos:hover{
  font-size: 22px;
}**/
.parrafos__historia {
  text-align: center;
  border-bottom: solid;
  font-size: 21px;
  padding: 25px;
  margin: auto;
  color: yellow;
}
.parrafosContacto {
  text-align: left;
  font-size: 24px;
  padding: 50px;
  color: yellow;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(black, orange);
  padding-top: 50px;
}
.galeriaFoto {
  width: 30%;
  padding: 10px;
  margin: auto;
}
.galeriaFoto:hover{
  width: 40%;
  margin: auto;
}
.redesSociales{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccionDisco{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagenDisco{
  width: 700px;
  height: 620px;
}
.contDisco{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
} 
.infoContacto {
  text-align: center;
  color: yellow;
  font-size: 50px;
  font-weight: 200;
  padding-top: 100px;
  padding-bottom: 150px;
}
.infoContacto h2 {
  font-size: 57px;
}
.formContacto {
  background-color: orangered;
  width: 370px;
  height: 465px;
  margin: auto;
  text-align: center;
  font-size: 27px;
  color: yellow;
}
.controls {
  display: block;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}
.footerAll{
  background-color: currentColor;
}
.contenidoFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}