.seccionDisco {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  .seccionDisco p {
    color: gold;
    text-align: center;
    font-size: 18px; }

.contDisco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px; }
  .contDisco img {
    width: 65%;
    height: auto;
    display: flex;
    margin: auto; }

.infoContacto {
  height: 540px;
  width: fit-content;
  margin: auto;
  background-image: url(../images/banner.jpg);
  background-repeat: round;
  background-position: revert;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.formContacto {
  background-color: #0c0c0c;
  width: 340px;
  height: 465px;
  margin: auto;
  text-align: center;
  color: yellow; }

.controls {
  display: block;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  margin: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header h1 {
    font-family: "IM Fell Double Pica SC", serif;
    text-align: center;
    font-size: 69px;
    color: yellow;
    width: auto; }
  .header img {
    width: 255px;
    height: 205px; }

.parrafos {
  width: 85%;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  color: yellow; }

.divIndex {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenidoHist {
  display: flex;
  justify-content: center;
  margin: auto; }

.mainHist h2 {
  text-align: center;
  font-size: 50px;
  color: yellow;
  padding-top: 23px; }

.mainHist p {
  margin: auto;
  width: 90%;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  color: gold; }

.mainHist img {
  width: 90%;
  height: 630px;
  display: flex;
  margin: auto; }

.contenidoFooter {
  width: 100%;
  margin: auto;
  background-color: #050505;
  background-image: radial-gradient(1000px circle at 50% 100%, gold, transparent 95%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 120px; }
  .contenidoFooter h4 {
    font-weight: 400;
    font-family: "IM Fell Double Pica SC";
    color: black;
    font-size: 22px;
    width: auto; }

.redesSociales {
  width: 400px;
  color: gold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.logoRaton {
  width: 140px;
  height: 110px; }

.imagenIndex {
  width: 50%;
  height: auto;
  display: flex;
  margin: auto; }

h2 {
  font-family: "IM Fell Double Pica SC", serif;
  text-align: center;
  font-size: 49px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: yellow; }

h3 {
  font-family: "IM Fell Double Pica SC", serif;
  color: yellow;
  text-align: center;
  font-size: 45px;
  padding: 30px; }

h4 {
  text-align: center;
  color: yellow; }

.galeriaImg {
  width: 100%;
  height: -webkit-fill-available; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 10px;
  padding: 3px;
  grid-auto-flow: dense; }

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out; }

.grid-item:hover {
  transform: scale(1.04); }
