.infoContacto {
  background-image: url('../images/banner.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formContacto {
    background-color: black;
    width: 500px;
    height: 465px;
    margin: auto;
    text-align: center;
    font-size: 27px;
    color: yellow;
  }
  .controls {
    display: block;
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
  }
