.infoContacto {
  height: 540px;
  width: fit-content;
  margin: auto;
  background-image: url(../images/banner.jpg);
  background-repeat: round;
  background-position: revert;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.formContacto {
  background-color: black;
  width: 365px;
  height: 465px;
  margin: auto;
  text-align: center;
  font-size: 27px;
  color: yellow;
}
.controls {
  display: block;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}
