@import "variables";
@import "discografia";
@import "contacto";

body{
    background-color: $colorPrincipal;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    h1{
      font-family: Georgia, "Times New Roman", Times, serif;
      text-align: center;
      font-size: 55px;
      color: yellow; 
    }
  }
.parrafos {
  width: 85%;
  text-align: center;
  font-size: map-get($map: $parrafos, $key: tFuente);
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
  color: yellow;
}
.menuIndex {
    color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: black;
    font-size: 35px;
    list-style: none;
    text-decoration: none;
    &:hover{
        font-size: 40px;
    }
    a{
        text-decoration: none;
        color: gold;
    }
}
.divIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenInd{
  width: 65%;
  height: auto;
  display: flex;
}
.mainHist{
    h2{
        text-align: center;
        font-size: map-get($map: $titulos, $key: tH2);
        color: yellow;
        padding-top: 23px;
    }
    p{
        margin: auto;
        width: 80%;
        padding: 8px;
        font-size: map-get($map: $parrafos, $key: tFuente);
        font-weight: 300;
        text-align: map-get($map: $parrafos, $key: tAlign);
        color: map-get($map: $parrafos, $key: cFuente);
    }
}
.contenidoFooter{
    display: flex;
    background-color: rgb(54, 54, 54);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    h4{
        color: gold;
      font-size: 22px;
    }
}
.logoRaton {
  width: 255px;
  height: 205px;
}
.imagenHist {
  width: 65%;
  height: auto;
  display: flex;
  margin: auto;
}
.redesSociales{
  color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 56px;
    margin-right: 39px;
    color: yellow; 
}
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: yellow;
}
h3 {
  color: yellow;
  text-align: center;
  font-size: 45px;
  padding: 30px;
}
h4 {
  text-align: center;
  color: yellow;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(black, orange);
  padding-top: 50px;
}
.galeriaFoto {
  width: 30%;
  padding: 10px;
  margin: auto;
}